*{
    margin: 0;
    padding: 0;
}

main{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #FFF5E4;
    background-image: url("https://media.istockphoto.com/id/1292919739/vector/tic-tac-toe-school-game-colorful-seamless-pattern-for-fabric-and-print-on-the-paper.jpg?s=612x612&w=0&k=20&c=Q4gMspKHffPmhKuofb_Rb_WCD8uAgbsbXSKuWEcziM8=");
}

.head{
    font-size: 5vmin;
    font-weight: bold;
    color: white;
    padding: 2vmin;
    border-radius: 10px;
    background: rgba(0, 0, 0, 0.67);
    margin-bottom: 3vmin;
    border: 2px dashed bisque;
}

.rules{
    /* text-align: center; */
    background-color: rgba(0, 0,0, 0.7);
    height: 60vmin;
    /* width: 80vmin; */
    display: flex;
    align-items: center;
    /* justify-content: center; */
    flex-direction: column;
    margin: 15px;
    flex-wrap: wrap;
    padding: 20px;
    border: 2px solid grey;
    border-radius: 20px;
}

#welcome{
    border-bottom: 2px solid #fff200;
    font-size: 5vmin;
    font-family: cursive;
    color: #fff200;
}

#rule{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    margin-top: 2vmin;
    margin-left: 3vmin;
    font-size: 2.5vmin;
    color: white;
}

li{

    margin: 10px;
}

a{
    text-decoration: none;
    color: #fff200;
}

#new_btn{
    cursor: pointer;
    padding: 10px;
    margin: 15px;
    font-weight: bold;
    border-radius: 5px;
    font-size: 3vmin;
    background-color: #051022;
    color: #fff200;
    border: 2px solid white;
}